body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.cursos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.curso{
    border: black solid;
    border-radius: 10px;
    border-width: 1.5px;

    margin: 30px;
    height: 15rem;
    width: 30rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding-bottom: 10px;
    
}

.carrito{
    position: relative; 
}

#contadorCarrito{
    padding-left: 3%;
    padding-right: 3%;
    font-size: 60px;
    color: white;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    bottom: 5%;
    right: 5%;
}


#cursoComprado{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}